[Unit]
Description=RootAlert - Security log monitoring
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/rootalert/rootalert.py
WorkingDirectory=/opt/rootalert
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
